


/*
    ! CSS for Mobile browsers
*/
@media (orientation=portrait) and (max-width: 920px) 
{
    body  {
        font-size: 4.5vw;
    }
    .logo div {
        font-size: 8vw;
    }
    main {
        margin-top: 50px;
    }
}
@media (orientation=landscape) and (max-width: 500px)
{
    body  {
        font-size: 4.5vw;
    }
    .logo div {
        font-size: 8vmax;
    }
    main {
        margin-top: 50px;
    }
}

/*
    ! CSS for desktop browsers
*/
@media (orientation=landscape) and (min-width: 920px)
{
    body  {
        font-size: 2vw;
    }
    .logo div {
        font-size: 4vmax;
    }
    main {
        margin-top: 2vmax;
    }
}

body {
    margin: 0;
    color: #ccc;
    background-color: #1c1c1c;
    font-family: roboto,sans-serif;
}
main {
    padding: 2vw;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vmin;
}
.logo div {
    font-weight: 600;
    color: #39ff14;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3vw;
}
.input-container {
    display: flex;
    align-items: center;
    margin-top: 0.8vw;
}
.input-container input {
    all: unset;
    border-bottom: #ccc solid 1px;
    width: 18vw;
    text-align: center;
}
.operation-container {
    display: flex;
    flex-direction: column;
}
.operation-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3vw;
}
.operation-container div input {
    width: 50px;
    height: 50px;
    margin-right: 1vmax;
    border: solid 1px black;
    background-color: #2b2a2a;
}
.operation-container div input:hover {
    background-color: #525252;
}
.output-con {
    margin-top: 2vmax;
    display: flex;
}
#output {
    border-bottom: #39ff14 solid 1px;
    width: 19vw;
    text-align: center;
}