/*
    ! CSS for Mobile browsers
*/
@media (orientation=portrait) and (max-width: 920px) 
{
    body  {
        font-size: 4.5vw;
    }
    .logo div {
        font-size: 8vw;
    }
    main {
        margin-top: 70px;
    }
    .inputt {
        width: 80vw;
        font-size: 5.5vw;
        margin-bottom: 9vw;
    }
    .inputt input {
        width: 260px;
    }
    .logo {
        margin-bottom: 10vw;
    }
    #sub {
        font-size: 6.8vw;
    }
    #mul {
        font-size: 4.9vw;
    }
    #div {
        font-size: 8vw;
    }
    .operation-container {
        display:inline-grid;
        grid-template-columns:70px 70px 70px 70px ;
        align-items: center;
        grid-gap: 5px;
    }
    .operation-container input {
        width: 70px;
        height: 90px;
        font-size: 5.9vw;
    }
    .clear {
        font-size: 8vw;
    }
}
@media (orientation=landscape) and (max-width: 500px)
{
    body  {
        font-size: 4.5vw;
    }
    .logo div {
        font-size: 8vw;
    }
    main {
        margin-top: 70px;
    }
    .inputt {
        width: 80vw;
        font-size: 5.5vw;
        margin-bottom: 9vw;
    }
    .inputt input {
        width: 260px;
    }
    .logo {
        margin-bottom: 10vw;
    }
    #sub {
        font-size: 6.8vw;
    }
    #mul {
        font-size: 4.9vw;
    }
    #div {
        font-size: 8vw;
    }
    .operation-container {
        display:inline-grid;
        grid-template-columns:70px 70px 70px 70px ;
        align-items: center;
        grid-gap: 5px;
    }
    .operation-container input {
        width: 70px;
        height: 90px;
        font-size: 5.9vw;
    }
    .clear {
        font-size: 8vw;
    }
}
/*
    ! CSS for desktop browsers
*/
@media (orientation=landscape) and (min-width: 920px)
{
    body  {
        font-size: 1.5vw;
    }
    .logo div {
        font-size: 4vmax;
    }
    main {
        margin-top: 3vmax;
    }
    .inputt {
        width: 350px;
        font-size: 1.8vw;
        margin-top: 2vmax;
        margin-bottom: 1.3vw;
    }
    .inputt input {
        width: 310px;
        margin-bottom: 1vw;
    }
    .logo {
        margin-bottom: 2vmin;
    }
    .operation-container input {
        font-size: 1.8vmax;
    }
    #sub {
        font-size: 2.3vmax;
    }
    #mul {
        font-size: 1.5vmax;
    }
    #mod {
        font-size: 1.1vmax;
    }
    .operation-container {
        display:inline-grid;
        grid-template-columns:80px 80px 80px 80px ;
        align-items: center;
        grid-gap: 10px;
    }
    .operation-container input {
        width: 80px;
        height: 100px;
    }
    .clear{
        font-size: 1.4vw;
    }
}
body {
    margin: 0;
    color: #ccc;
    background-color: #1c1c1c;
    font-family: roboto,sans-serif;
}
main {
    padding: 2vw;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo div {
    font-weight: 600;
    color: #39ff14;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputt {
    display: flex;
    width: 350px;
    justify-content: center;

}
.clear{
    background-color: #1c1c1c;
    color: white;
    margin-left: 10px;
    border: solid 0.5px #ccc;
    border-radius: 6px;
}
.clear:hover {
    background-color: #2b2a2a;
    
}
.clear:active{
    background-color:#1c1c1c;
    color: #e30000;
}
.inn {
    all: unset;
    border-bottom: #ccc solid 0.5px;
    text-align: center;
}
.container-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.equals {
    background-color: #2fc814 !important; 
    color: black;
}
.equals:hover {
    background-color: #127800 !important;
}
.equals:active {
    background-color: #39ff14 !important;
}
.operation-container input {
    border: solid 1px black;
    background-color: #2b2a2a;
    transition: 0.3s;
    font-weight: 200;
}
.operants {
    color: #39ff14;
}
.numbers {
    color: #ccc;
}
.operation-container input:hover {
    background-color: #2fc814;
    color: black;
}
.operation-container input:active {
    background-color:#127800 ;
}
.output-con {
    margin-top: 2vmax;
    display: flex;
}